* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    #4facfe,
    #00f2fe
  );

  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;
}

.weather-box {
  background: white;

  padding: 30px;

  border-radius: 15px;

  width: 350px;

  text-align: center;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.weather-box h1 {
  margin-bottom: 20px;
}

.search-box {
  display: flex;

  gap: 10px;

  margin-bottom: 20px;
}

.search-box input {
  flex: 1;

  padding: 10px;

  border: 1px solid #ccc;

  border-radius: 5px;

  outline: none;
}

.search-box button {
  padding: 10px 15px;

  border: none;

  background: #007bff;

  color: white;

  border-radius: 5px;

  cursor: pointer;
}

.search-box button:hover {
  background: #0056b3;
}

.weather-info h2 {
  margin-bottom: 10px;
}

.weather-info h3 {
  font-size: 40px;

  margin-bottom: 10px;
}

.weather-info p {
  margin: 8px 0;
}

.error {
  color: red;

  margin-bottom: 10px;
}